$main--color--white: #FFFFFF;
$main--color--black: #181818;
$color--green--primary: #00B956;
$color--violet--primary: #731982;
$color--violet--hover: #60106D;
$color--gray--disabled: #C8C8C8;
$second--color--white: #F6F6F6;


$media-xl: 1440px;
$media-xl-1: 1439.98px;

$media-lg: 1280px;
$media-lg-1: 1279.98px;

$media-md: 1024px;
$media-md-1: 1023.98px;

$media-sm: 768px;
$media-sm-1: 767.98px;

$media-hmd-1: 650px;

$font-family: 'Roboto', 'Arial', sans-serif;

